*.so
*.o
*.elf
*.img
*.bin
*.log
__pycache__
*.pyc
*.pyo
*.egg-info
*.gcov
*.gcda
*.gcno
*.lcov
*.info
*.html
*.css
*.png
.coverage
.egg-info
.pybuild
.pytest_cache
.mypy_cache
/src/main/python/riscv/_version.py
/src/main/python/riscv/data/**/*
/build
/dist
/.venv
/.vscode
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/.substvars
/debian/control
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
/venv
