auditwheel
build
pip
pybind11[global]>3
twine
patchelf
pexpect
pytest
pytest-asyncio
pytest-cov
pytest-mypy
pytest-pylint
pytest-repeat
pytest-timeout
setuptools >= 61
setuptools_scm[toml] >= 8
tox
wheel
