---
name: Continuous Integration

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: true
    - name: Fetch tags
      run: |
        git fetch --tags origin
    - name: Build wheels
      uses: pypa/cibuildwheel@v3.1.4
      env:
        RISCV: /opt/riscv
        PYBIND11_DETAILED_ERROR_MESSAGES: 1
      with:
        package-dir: .
        output-dir: wheelhouse
        config-file: "{package}/pyproject.toml"
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: spike-wheels-${{ matrix.os }}
        path: wheelhouse/spike-*.whl
        overwrite: true
        retention-days: 1
  publish:
    name: Publish wheels
    runs-on: ${{ matrix.os }}
    if: github.ref == 'refs/heads/main'
    needs: build
    environment: pre-release
    strategy:
      matrix:
        os:
          - ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with:
        name: spike-wheels-${{ matrix.os }}
        path: wheelhouse
    - name: Upload to PyPI
      run: |
        python -m pip install -U pip
        python -m pip install -U packaging twine
        python -m twine upload wheelhouse/spike-*.whl -u __token__ -p ${{ secrets.PYSPIKE_PUBLISH }}
